.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.btn-active {
  background-color: darkslateblue;
  color: white;
}
.task-done {
  font-weight: bold;
  color: rebeccapurple;
}
.input-error {
  border: 2px solid red;
  outline: none;
}
